<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        th,td{
            border: 1px black solid;
            padding: 5px;
        }
    </style>
</head>
<body>
    <h1>Puchase Detail</h1>
    
    {% if po %}
        <h1>Show data</h1>
        <h3>{{po}}</h3>
        <table>
            <tr>
                <th>PO No.      </th>
                <th>Process     </th>
                <th>ConcernPerson</th>
            </tr>
           {%for num in po %} 
                      <tr>
                          <td>{{num.PO_NO}} </td>
                          <td>{{num.Process}} </td>
                          <td>{{num.ConcernPerson}}</td>
                        </tr>
                        
             {% endfor %} 
        
        </table>
     
    {% else %}
    <h1>No Data</h1>
    {% endif %}
</body>
</html>